.baseTexto{
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  text-align: left;
}

h1.baseTexto{
  font-size: clamp(2rem, 5vw, 2rem);
}
h4.baseTexto{
  font-size: clamp(1rem, 2.5vw, 0.75rem);
  font-weight: 500;
}

.divisor {
  border: none;
  height: 1px;
  background: var(--gray-200); 
  width: 100%;
  margin: 0.125rem auto;
}

.formulario{
  background-color: var(--purple-900);
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  width: 100%; 
  margin: 0 auto; 
    
}

.formulario input{
  padding: 1rem;
  width: 100%;
  height: 2.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #48277a56;
  border: none;
  border-radius: 10px;
  margin-bottom: 0.75rem;
  color: var(--white);
}

.formulario button{
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background: #501794;
  background: linear-gradient(207deg, rgba(80, 23, 148, 1) 0%, rgba(62, 112, 161, 1) 100%);
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button.cadastro{
  display: block;
  margin: 0 auto;
}

.formulario button:hover{
  background: linear-gradient(207deg,rgba(80, 23, 148, 1) 0%, rgba(62, 112, 161, 0.48) 100%);
}

.cadastro:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.inputelementos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contas {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.125rem;
}

.googleBotao img,
.facebookBotao img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.listaInscritosContainer {
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.listaInscritosToggleContainer {
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.iconeLista {
  width: 24px;
  height: 24px;
  
}

.listaInscritosContainer mark {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,212,222,1) 93%);
  padding: 2px 5px;
  border: 1px solid var(--purple-100);
  border-radius: 1em;
}

.mensagemSucesso {
  color: var(--purple-200); 
  font-weight: bold;
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: none;
}

.mensagemSucesso.mostrar {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
