.container-principal{
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: var(--purple-700);
}

.container-imagem {
  flex: 1 1 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  color: var(--white);
  overflow: hidden;
  position: relative;
}

.container-formulario {
  flex: 1 1 40%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--purple-900);
  padding: clamp(1.5rem, 4vw, 5rem);
}

.bg-img {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: 0;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  max-width: 120px;
  width: clamp(80px, 10vw, 150px);
  font-size: 1.25rem;
  font-weight: bold;
  z-index: 1;
}

.logo-img {
  width: 150px;
  height: auto;
}


.texto-baixo-aventura {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 1;
  font-size: 1.675rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}

.highlight {
  width: auto;
  color: var(--purple-100);
  font-weight: bold;
}

.containerflutuante {
  position: absolute;
  top: 5rem; 
  right: 1rem;
  z-index: 3;
  background: transparent;
  padding: 1em;
  min-width: 220px;
}

.botaoLista {
  width: 50%;
  height: 50%;
  margin-bottom: 0.5em;
  background:transparent;
  border: none;
  border-radius: 10em;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: 'Poppins', sans-serif;
}

@keyframes flutuar {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.botaoLista img{
  border-radius: 50%;
  box-shadow: 0 0 10px 4px var(--purple-100);
  animation: flutuar 2s ease-in-out infinite;
}

.listaInscritosContainer {
  background: linear-gradient(207deg,rgba(80, 23, 148, 0.7) 0%, rgba(38, 16, 70, 0.7) 100%);
  box-shadow: 0 0 10px 4px var(--purple-100);
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: clamp(0.625rem, 1.5vw, 0.75rem);
}

/* .listaInscritosContainer mark{
  background: var(--purple-900);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
} */

.listaInscritosContainer mark {
  background: var(--purple-100);
  color: var(--purple-700);     
  padding: 0 0.5rem;            
  border-radius: 0.25rem;       
  font-weight: bold; 
  line-height: 1.6;            
}


.listaInscritosContainer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

