:root {
  --white: #FFF;
  --gray-200: #A4A4A4;
  --gray-300: #B6B6B6;

  --purple-100: #b983ff;
  --purple-200: #b983ff;
  --purple-600: #3B2063;
  --purple-500: #4A0087;
  --purple-700: #1a1333;
  --purple-800: #261046;
  --purple-900: #160430;

  --blue-100: #1976D2;
  --blue-200: #0A66C2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.25;
}

p, a {
  font-family: 'Poppins', sans-serif;
  color: var(--gray-300);
}

p {
  font-size: clamp(0.625rem, 1.5vw, 0.75rem); 
}

a {
  font-size: clamp(0.625rem, 1.5vw, 0.75rem); 
  font-weight: 600;
  color: var(--purple-500);
  text-decoration: none;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px; 
  }
}